@model StoreManagement.Models.Company

@{
    ViewBag.Title = "Details";
}
<style>
    .head {
        color: white;
        background-color: rgb(65, 6, 104);
        text-align: center;
        margin-top: 30px;
        padding: 15px;
        border-radius: 30px;
    }
</style>

<h2 class="head">Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompanyId }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back To Companies", "Index", null, new { @class = "btn btn-primary" })
</p>
