@model IEnumerable<StoreManagement.Models.Category>

@{
    ViewBag.Title = "Index";
}
<style>
    .head {
        color: white;
        background-color: rgb(65, 6, 104);
        text-align: center;
        margin-top: 30px;
        padding: 15px;
        border-radius: 30px;
    }
</style>

<h2 class="head">All Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create" , null, new { @class = "btn btn-success" })
</p>
<div  style="min-height:360px;">

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryId } , new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryId }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>

</div>
<p>
    @Html.ActionLink("Back To Control Panel", "ControlPanel", "Home", null, new { @class = "btn btn-primary" })
</p>