@model StoreManagement.Models.ExitProduct

@{
    ViewBag.Title = "Details";
}
<style>
    .head {
        color: white;
        background-color: rgb(65, 6, 104);
        text-align: center;
        margin-top: 30px;
        padding: 15px;
        border-radius: 30px;
    }
</style>
<h2 class="head">Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EntryProduct.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryProduct.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExitProductId }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back To Exit Products", "Index", null, new { @class = "btn btn-primary" })
</p>
